body{
    background-color: darkgray;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

.info{
    background-image: url(./assets/black-and-silver-solar-panels-159397.jpg);
    min-height: 600px;
    font-size: large;
}

.nav a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    text-decoration: underline;
}
.overlay{
    background-color: rgba(0,0,0,0.6);
    min-height: 600px;
}
.inner{
    padding-top: 150px;
}
.p-3{
    font-size: 16px;
}
#copyright{
    font-size: larger !important;
}

nav{
    border-bottom: #D80B0B 3px solid;
    opacity: 0.9;
}

#about{
    font-size: 18px;
}
#font1{
    font-family: 'Kaushan Script', cursive;
    font-size: 22px;
}

.info h1{
    font-size: 80px;
}

.jumbotron{
    background: transparent !important;
}

#icondiv i{
   border-color: #008ed6;
   font-size: 30px;
}
#icondiv {
    border-color: 1px solid white !important;
    background-color: #292b2c;
    border-radius: 50%;
}
.modal-content{
    background-color: rgba(0, 0,0,0.8) !important;
}

#modalContent{
    background-color: rgba(0, 0,0,0.3) !important;
}



